.navbar {
  background-color: rgba(6, 67, 114, 0.613);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  .brand {
    font-weight: 700;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .burger {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      color: #fff;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      &.active {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    .burger {
      display: flex;
    }

    .nav-links {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: var(--primary-color);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;

      &.open {
        max-height: 200px;
      }

      li {
        padding: 1rem;
      }
    }
  }
}
